@charset "utf-8";
/* CSS Document */
.strength_meter{
    height:23px;
    width: 154px;
    border-radius: 3px;
    text-align:center;
    line-height:23px;
    margin-top: 3%;
    display: inline-block;
}
.strength_meter{
    background-color: #C0C0C0;
    border:darkblue 1px solid;
}
.medium-password{
    background-color: #E4DB11;
    border:#BBB418 1px solid;
}
.weak-password{
    background-color: #FF6600;
    border:#AA4502 1px solid;
}
.strong-password{
    background-color: #12CC1A;
    border:#0FA015 1px solid;
}