<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <rewrite>
        <rules>
            <rule name="rule 1k" stopProcessing="true">
                <match url="^[auth|Auth]+/([^/]+)$"  />
                <action type="Rewrite" url="index.php?module=Auth&amp;key={R:1}"  />
            </rule>
            <rule name="rule 2k" stopProcessing="true">
                <match url="^[auth|Auth]+/([^/]+)+/$"  />
                <action type="Rewrite" url="index.php?module=Auth&amp;key={R:1}"  />
            </rule>
            <rule name="rule 3k" stopProcessing="true">
                <match url="^[auth|Auth]+/([^/]+)/([^/]+)$"  />
                <action type="Rewrite" url="index.php?module=Auth&amp;login={R:1}&amp;password={R:2}"  />
            </rule>
            <rule name="rule 4k" stopProcessing="true">
                <match url="^[auth|Auth]+/([^/]+)/([^/]+)+/$"  />
                <action type="Rewrite" url="index.php?module=Auth&amp;login={R:1}&amp;password={R:2}"  />
            </rule>
            <rule name="rule 5k" stopProcessing="true">
                <match url="^([^/]+)/([0-9]+)/([a-zA-Z0-9]{32})$"  />
                <action type="Rewrite" url="index.php?module={R:1}&amp;id={R:2}&amp;token={R:3}"  />
            </rule>
            <rule name="rule 6k" stopProcessing="true">
                <match url="^([^/]+)/([0-9]+)/([a-zA-Z0-9]{32})+/$"  />
                <action type="Rewrite" url="index.php?module={R:1}&amp;id={R:2}&amp;token={R:3}"  />
            </rule>
            <rule name="rule 7k" stopProcessing="true">
                <match url="^([^/]+)/criteria/([^/]+)/([a-zA-Z0-9]{32})$"  />
                <action type="Rewrite" url="index.php?module={R:1}&amp;token={R:3}&amp;criteria={R:2}"  />
            </rule>
            <rule name="rule 8k" stopProcessing="true">
                <match url="^([^/]+)/criteria/([^/]+)/([a-zA-Z0-9]{32})+/$"  />
                <action type="Rewrite" url="index.php?module={R:1}&amp;token={R:3}&amp;criteria={R:2}"  />
            </rule>
            <rule name="rule 9k" stopProcessing="true">
                <match url="^([^/]+)/criteria/([^/]+)/(.+)/([a-zA-Z0-9]{32})$"  />
                <action type="Rewrite" url="index.php?module={R:1}&amp;token={R:4}&amp;criteria={R:2}&amp;params={R:3}"  />
            </rule>
            <rule name="rule 10k" stopProcessing="true">
                <match url="^([^/]+)/criteria/([^/]+)/(.+)/([a-zA-Z0-9]{32})+/$"  />
                <action type="Rewrite" url="index.php?module={R:1}&amp;token={R:4}&amp;criteria={R:2}&amp;params={R:3}"  />
            </rule>
            <rule name="rule 11k" stopProcessing="true">
                <match url="^([^/]+)/picklist/([^/]+)/([a-zA-Z0-9]{32})$"  />
                <action type="Rewrite" url="index.php?module={R:1}&amp;token={R:3}&amp;picklist={R:2}"  />
            </rule>
            <rule name="rule 12k" stopProcessing="true">
                <match url="^([^/]+)/picklist/([^/]+)/([a-zA-Z0-9]{32})+/$"  />
                <action type="Rewrite" url="index.php?module={R:1}&amp;token={R:3}&amp;picklist={R:2}"  />
            </rule>
            <rule name="rule 13k" stopProcessing="true">
                <match url="^([^/]+)/picklist/picklistdep/([^/]+)/([a-zA-Z0-9]{32})$"  />
                <action type="Rewrite" url="index.php?picklistdep=1&amp;module={R:1}&amp;token={R:3}&amp;picklist={R:2}"  />
            </rule>
            <rule name="rule 14k" stopProcessing="true">
                <match url="^([^/]+)/picklist/picklistdep/([^/]+)/([a-zA-Z0-9]{32})+/$"  />
                <action type="Rewrite" url="index.php?picklistdep=1&amp;module={R:1}&amp;token={R:3}&amp;picklist={R:2}"  />
            </rule>
            <rule name="rule 15k" stopProcessing="true">
                <match url="^([^/]+)/action/([^/]+)/(.+)/([a-zA-Z0-9]{32})$"  />
                <action type="Rewrite" url="index.php?module={R:1}&amp;action={R:2}&amp;token={R:4}&amp;params={R:3}"  />
            </rule>
            <rule name="rule 16k" stopProcessing="true">
                <match url="^([^/]+)/action/([^/]+)/(.+)/([a-zA-Z0-9]{32})+/$"  />
                <action type="Rewrite" url="index.php?module={R:1}&amp;action={R:2}&amp;token={R:4}&amp;params={R:3}"  />
            </rule>
            <rule name="rule 17k" stopProcessing="true">
                <match url="^([^/]+)/(.+)/([a-zA-Z0-9]{32})$"  />
                <action type="Rewrite" url="index.php?module={R:1}&amp;token={R:3}&amp;params={R:2}"  />
            </rule>
            <rule name="rule 18k" stopProcessing="true">
                <match url="^([^/]+)/(.+)/([a-zA-Z0-9]{32})+/$"  />
                <action type="Rewrite" url="index.php?module={R:1}&amp;token={R:3}&amp;params={R:2}"  />
            </rule>
            <rule name="rule 19k" stopProcessing="true">
                <match url="^([^/]+)/([^/]+)$"  />
                <action type="Rewrite" url="index.php?module={R:1}&amp;token={R:2}"  />
            </rule>
            <rule name="rule 20k" stopProcessing="true">
                <match url="^([^/]+)/([^/]+)+/$"  />
                <action type="Rewrite" url="index.php?module={R:1}&amp;token={R:2}"  />
            </rule>
            <rule name="rule 21k" stopProcessing="true">
                <match url="^[API]+/(.*)$"  />
                <action type="Rewrite" url="Api.php/{R:1}"  appendQueryString="true" />
            </rule>
            <rule name="rule 1W" stopProcessing="true">
                <match url="^[soap|Soap|SOAP]+/(.*)$"  />
                <action type="Rewrite" url="soap.php/{R:1}"  appendQueryString="true" />
            </rule>
            <rule name="rule 1W" stopProcessing="true">
                <match url="^[portal|Portal|PORTAL]+/(.*)$"  />
                <action type="Rewrite" url="Portal.php/{R:1}"  appendQueryString="true" />
            </rule>
         </rules>
      </rewrite>
   </system.webServer>
</configuration>